doctype html
html(lang="de")
    head
        meta(charset='utf-8')
        title Klaus Salmutter
        meta(name='description', content='Klaus Salmutter Official - Visitenkartenseite')
        link(rel='manifest' href='manifest.json')
        
        link(rel='icon' href='favicon.ico')
        link(rel='apple-touch-icon' sizes='180x180' href='img/sample-icon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
